*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

    --music-poster-width:100px;
    --music-poster-height:70px;
    --artist-image-size:100px;
     
    
}
body{
    background-color: rgb(12, 17, 38);
    position: relative;
}


/********************* layout ****************************************/

main{
    width: 100%;
    height: 75.1vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}
/********** main section scrollbar **************/

.main-section-scrollbar:hover::-webkit-scrollbar{
    display: block;
    
}
.main-section-scrollbar::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    display: block;
   
    }
.main-section-scrollbar::-webkit-scrollbar-track{
    width: 1px;
    background-color: #fbfcff;
    border-radius:20px ;
    
}
.main-section-scrollbar::-webkit-scrollbar-thumb{
    width:1px;
    background-color: #041855;
    border-radius:20px ;
}
.main-section-scrollbar::-webkit-scrollbar-button{
    width: 5px;
    background-color: #031549;
    border-radius:200px ;
    display: none;
    
}
aside{ 
    position:fixed;
    top:50px;
    right:30px;
    width:500px ;
    height: 80%;
 
}

/* navbar */
#navbar{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

/*(******************** brand logo and name ****************************************/
#brand-logo-and-name{
    display: flex;
    align-items: center;
    width: fit-content;
    
}
#brand-logo{
    padding: 10px;
}


.logo{
    width: 50px;
    border-radius: 100%;
    box-shadow: 0 0 2px 2px;
    animation: heartBeat 1s ease-in-out 0s infinite alternate ;
}

@keyframes heartBeat{
    to{
        transform: scale(1);
    }
    from{
        transform: scale(1.2);
    }
}

#brand-name{
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 0 0 2px white;
    display: flex;
    flex-direction: column;
    animation: heartBeat 1s ease-in-out 0s infinite alternate ;
}

/*(******************** hamburg ****************************************/

#hamburg{
    display: none;
}

/********************* dropdown list ****************************************/

#dropdown-list-container{
    width: 50%;
}
#dropdown-menu{
   
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.dropdown-item{
    width: 10%;
    padding: 10px 40px;
    font-size: medium;
    font-family:  sans-serif;

    /* use to center an element */
    display: flex;
    align-items: center;
    justify-content: center;

    /* for to position search icon in 2nd dropdown item container  */
    position: relative;
}
.dropdown-item:nth-child(2){
    width: 45%;
}
.dropdown-item:nth-child(2) input{
    padding: 5px;
    padding-left:30px;
    font-size: .9rem;
    border-radius: 12px;
    width:100%;
    min-width: 100px;
    outline: 2px solid white;
}
.dropdown-item:nth-child(2) input::placeholder{
  text-align: center;
}
.dropdown-item:nth-child(2) i{
   position: absolute;
   left: 50px; 
   color: rgb(8, 8, 8);
}

.dropdown-item a{
    color: white;
    text-decoration-line:none;
    
}
#close-dropdown{
    display: none;
    padding: 10px 0;
}
#close-dropdown a{
    color: black;
    text-decoration-line: none;
   

}

/************************ sign up form style ********************/
#signUp-form{
    z-index: 7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;

    /* use to center a form content */
    display:flex;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(6, 78, 119, 0.932);

    display: none;

}
#signUp-form:target{
    display: flex;
    font-size: 1.2rem;
}

.signUp-form-items-container{
    width: 500px;
    height:600px;

    background-image: linear-gradient(45deg,#fcfcfcfa,rgb(23, 211, 139));


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-radius: 10px;
    box-shadow: inset 0 0 2px 2px rgb(255, 255, 255);
    padding:10px 30px;
    color: rgb(14, 14, 14);
}
.signUp-item{
    width: 100%;
    height: 40%;
    /* border: solid; */
    padding: 10px;
    
    /* use to center an element */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.signUp-item label{
    padding-bottom: 10px;
    font-size: 1.7rem;
}
#email,#password{
    width: 100%;
    height: 50%;

    border-radius: 10px;
    padding-left: 20px;
    font-size: 1.4rem;

}
#email,#password::placeholder{
  font-size: 1.4rem;
 padding:0 10px;

}
#submit-button{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border: 2px inset ;
    transition: all 1s ease-in-out;
}
#submit-button:hover{
  color: white;
  background-color: red;

}
#close-button{
    color: white;
    text-decoration-line:none ;
    font-size: 3rem;
    margin: auto;

}

/* dropdown-item */
.dropdown-item:not(.dropdown-item:nth-child(2)){
    animation: heartBeat 1s ease-in-out 0s infinite alternate ;
    font-size: .9rem;
}

@keyframes heartBeat{
    to{
        transform: scale(1);
    }
    from{
        transform: scale(1.2);
    }
}
/********************* Queue section style ****************************************/
#queue{
    width: 100%;
    height:100%;
    padding: 10px;
    border-radius: 20px;
}

/* ***** queue header ******** */
#queue-header{
    width:100%;
    color: white;
    position: relative;
}
#queue-title-and-button{
    display: flex;
    justify-content: space-between;
}
#queue-title-and-button span,#queue-button{
    padding: 10px;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-family: cursive;
    text-shadow: 0  0 2px black;
}
#queue-button{
    color: lightgreen;
    text-decoration-line: none;
}
#queue-dropdown{
    display: none;
    width:150px;
    height:fit-content;
    float: right;

    position: absolute;
    top:100%;
    right:0px;

    /* increase stacking order of this element */
    z-index: 1;
}
#queue-dropdown:target{
    display: block;
}
#queue-dropdown-menu{
    width: 100%;
    height: 100%;
    list-style-type: none;
    background-color: rgb(149, 193, 231);
    border-radius: 5px;
    padding: 10px;
    
}
.queue-dropdown-item a{
    text-decoration-line: none;
    font-size: .6rem;
    font-family: cursive;
    font-weight: 700;
    text-align: center;

    /* for to style width we make inline element inline-block */
    display: inline-block;
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid gray;
    background-color: aliceblue;
    margin-bottom: 10px;
}

#close-queue-dropdown{
    position: absolute;
    right:0px;
    top:-50px;
    color:rgb(185, 1, 1);
    font-size: 1.4rem;
    padding: 10px;

    /* so, close btn not visible about queue+ btn */
    opacity: 0;
}

/* ***** queue body ******** */
#queue-body{
    width: 100%;
    height: 85%;
    padding-inline: 10px;
    overflow-y: auto;
    padding-right: 30px;
}

#queue-body::-webkit-scrollbar{
    display: none;
    width: 7px;
    background-color: #051749;
    
    }
/* #queue-body::-webkit-scrollbar-track{
    width: 10px;
    background-color: #c8cee0;
    border-radius:10px ;
}
#queue-body::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #031754;
    border-radius:10px ;
}
#queue-body::-webkit-scrollbar-button{
    width: 10px;
    background-color: #b5b7bd;
    border-radius:2px ;display: none;
     
}*/
    
/* *** queue body *** */

.queue-body-item{
    padding:15px 20px;
    display: flex;
    align-items: center;
 
    color: #fcfcfcfa;

    /* for like btn positioning */
    position: relative;
    
    background-color: #0e1424;
    margin-block:20px;
}
.queue-body-item-numbering{
    font-size: 1.2rem;

}
.queue-body-item-image-container{
    padding: 0 30px 0 40px;
}
.queue-body-item-image-container img{
    width: 70px;
    height: 60px;
    border-radius: 10px
}
.queue-body-item-details-container{
    padding: 0 10px;
}
.queue-body-item-details-container p{
    padding:5px 0;
    font-size: 1rem;
}
.like-btn{
    padding: 0 10px;
    font-size: 1.5rem;
    position: absolute;
    top:35px;
    right: 30px;
}
.like-btn:hover{
    color: rgb(197, 5, 5);
}


/********************* header section style ****************************************/
#header-image-animation-container{
    width: 63%;
    min-height:350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-frame{
    width: 200px;
    height: 200px;
    position: absolute; 
    border-radius: 10px;
    
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    animation: heartBeat 1s ease-in-out 0s infinite alternate ;
}

@keyframes heartBeat{
    to{
        transform: scale(1);
    }
    from{
        transform: scale(1.1); 
        
    }
}

#frame1{ z-index: 6; transform: scale(1.2); perspective: -399999999999999;}
#frame2{ z-index: 5; left: 200px; 
    transform: scale(1.1);}
#frame3{ z-index: 4;  left: 100px;  }
#frame4{ z-index: 3; right: 200px;  transform:  scale(1.1);;}
#frame5{ z-index: 2; right:100px; perspective: 399999999999999; 
}
#frame6{ z-index: 2;}


/********************* latest release section style ****************************************/
/* common */
main section{
    padding-left:50px; 
    width: 60%;
    height:fit-content;
    margin-top: 30px;
    /* border: solid; */
}

.section-title{
    color: white;
    padding: 30px;
    font-size: 1.4rem;
    font-family: monospace;
}
#latest-release{
    margin: 0;
}
.release-song-body{
    display: flex;
    flex-wrap: wrap;
}
.release-song-image{
    width:var(--music-poster-width,150px);
    height: var(--music-poster-height,150px);
    border-radius: 10px;
    margin-inline:15px ;
    margin-bottom:20px ;

}

.view-more-container{
   width: fit-content;
   height: var(--music-poster-height,150px);
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   margin-inline:35px ;
    margin-bottom:20px ;
}
.view-more-container i{
    font-size: 1.3rem;
}
.view-more-container p{
    font-size: .9rem;
    padding-right: 8px;
   text-transform: lowercase;
}

/********************* popular artist section style ****************************************/
.popular-artist-title{
    color: white;
    padding: 30px;
    font-size: 1.4rem;
    font-family: sans-serif;
}
#popular-artist-body{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.popular-artist-body-item{
    color: white;
    padding-inline: 20px;
}
.artist-photo{
    width: var(--artist-image-size,150px);
   height: var(--artist-image-size,150px);
   padding: 8px;
   box-shadow: inset 0  0 2px 3px rgb(156, 153, 153);
   border-radius: 100%;
  
}
.artist{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.artist-name{
    padding: 30px 0 20px;
    text-align: center;
    font-family: 'Courier New';
    font-weight: 900;
    font-size: .9rem;
    text-transform: capitalize;
}


/********************* radio station section style ****************************************/
#radio-station{
    width: 86.6%;
    width: 65%;
    /* margin: 10px; */

}
#radio-channels-container{
    width: 100%;
    height:fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 20px; */
   
}
.radio-station-items-container{

    border-radius: 100%;
    width: 100px;
    margin-inline: 20px;
    padding: 10px 0px;


    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;

    position: relative;
   
}

.radio-station-items-container span{
    color: white;
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    font-family: cursive;
    text-shadow: 0 0 30px black;
}

.radio-channel-logo{ 
    width: 100px;
    height: 100px;
    border-radius: 100%;
    opacity: .9;

  
}
.radio-channel-logo:hover{ 
    transform: scale(1.19);
    opacity: 1;
    transition: all .3s ease-in-out;

  
}



/********************* genre section style ****************************************/

#genre-container{
    /* inherit by all descendant */
    color: white;

   
}

#genre-body{
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
    
}
#genre-body .view-more-container{
    padding-left: 20px;
}
.genre-image-container{
    border-radius: 20px;

    /* do position relative so ,  nearest ancestor position element for span will be this element */
    position: relative;


    display: flex;
    justify-content: center;
    align-items: end;
    color: #000207;
}
.genre-image-container:hover{
transform:scale(1.13)  ;
transition: transform .3s ease-in-out;

}
.genre-image-container  img{
    width: 160px;
    height:100px;
    border-radius: 10px;
    box-shadow:  0 0 0px 1px rgb(63, 61, 61);
}

.genre-image-container  span{
    position: absolute;
    font-size: 1.5rem;
    padding-bottom: 30px;
    color: white;
    text-shadow: 0 0 5px black;
} 

 
/********************* latest songs section style ****************************************/
.latest-song-body{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   
}
.latest-song-body div{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
}


.song-image{
    width:var(--music-poster-width,200px);
    height: var(--music-poster-height,150px);
    border-radius: 20px;
}



/****************** Footer *******************/
main #footer{
    width: 50%;
    margin-top: 20px;
    height:300px;
    padding: 20px;
    text-align: start;
    margin-left: 80px;
    margin-bottom: 30px;
    /* background-color: cadetblue; */
    color: white;
    border-radius: 10px;
}
#footer p{
    color: white;
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
    font-size: 1rem;
    text-shadow: 0 0 10px black;

}


/* ********************** Player ******************* */
#player{
    border-top: double rgba(255, 251, 251, 0.402);
    width: 100%;
    height: 90px;
    background-color: rgb(39, 46, 61);
    position: fixed;
    left: 0;
    bottom: 0px;

    display: flex;
    padding-block: 10px 0;

    color: white;
}
/* 3 container */
#music,#controls,#more-controls{
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
/* image style */
#music img{
    width: 80px;
    height: 60px;
    border-radius: 10px;
    margin-right:10px;
}
/* details */
#details{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right:30px;
    justify-content: center;

}
#details h4{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden; 
}
#details p{
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden; 
    padding-top: 8px;
    font-size: .6em;
    font-family: cursive;
    letter-spacing: 2px;
}
/* #player i{
    font-size: 1.3rem;
} */
#music i{
    margin-right:30px;
    font-size: 1.2rem;

}
#music i:hover{
    color: rgb(255, 38, 0);
    transform: scale(1.2);
}
#controls{
    flex-direction: column;
    padding: 10px;
  
}
#controls #control{
    padding-top: 10px;
    width: 70%;
    margin: auto;
   display: flex;
   justify-content: space-evenly;
   font-size: 1.5rem;

}
#control i:hover{
    color: aqua;
    transform: scale(1.2);
}
#progress-bar-container{
padding-bottom: 0%;
width: 100%;
display: flex;
justify-content: space-evenly;
align-items: center;
}

#more-controls > i,#more-controls div{
    font-size: 1.3rem;
    padding: 20px;
}
#more-controls i:hover{
    color: aqua;
    transform: scale(1.09);
}

/* progress bar styling */
 
#progress{ 
    margin: 20px 0;
    width:70%;
    height: 8px;
    background-color: rgb(255, 254, 253);

    border-radius: 15px;
    position: relative;


}
#progress #bar{
    width:100px;
    height: 100%;
    border-radius: 15px;
    background-color:rgb(0, 115, 255);
    position: relative;
    left:.5px
}
#progress #bar::after{
    content: '';
    background-color: rgb(0, 115, 255);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 2px 2px rgb(4, 86, 186);
    position: absolute;
    right: -10px;
    bottom: -5px;
}




    
     /* @media screen and (max-width:1550px) {
      
        aside{
            width:500px;
        }
        .queue-body-item{
            padding: 20px 30px;
        }
        .like-btn{
            padding: 0 10px;
            font-size: 1.5rem;
            position: absolute;
            top:43px;
            right: 30px;
        }
        .queue-body-item-numbering{
            padding: 0  0 0 0px;
        }
        .queue-body-item-image-container{
            padding: 0 30px;
        }
        .queue-body-item-image-container img{
            width: 70px;
            height: 70px;
            border-radius: 10px
        }
        .queue-body-item-details-container{
            padding: 0 5px;
        }
        .queue-body-item-details-container p{
            padding:5px 0;
            font-size: 1.2rem;
        }
    
    }  */
    

    @media screen and (max-width:1250px) {
        aside{
            position: static;
            width:100% ;
            height: fit-content;
        }
        #latest-release,#popular-artist,#radio-station,#genre-container {
            width: 100%;
            height:fit-content;
        }
      #latest-release .release-song-body{
            width: 100%;
        }

         #footer{
           margin: 0;
           width: 90%;
           margin: 0 auto;
        }

        #header-image-animation-container{
            width: 70%;
            min-height:500px;
            position: relative;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .image-frame{
            width: 200px;
            height: 200px;
            position: absolute; 
            border-radius: 10px;
            
        }
        .image{
            width: 100%;
            height: 100%;
            border-radius: 10px;
            animation: heartBeat 1s ease-in-out 0s infinite alternate ;
        }

        #more-controls{
            display: none;
            font-size: 2rem;
            padding: 20px;
        }
        #player{
            justify-content: space-evenly;
        }
    }
    
    @media screen and (max-width:700px) {
        /********************* navbar ****************************************/
        #navbar{
            width: 100%;
            padding: 10px;
            display: block;
            justify-content: space-between;
            align-items: center;
    
            position: relative;
        }
        /********************* dropdown list ****************************************/
        #dropdown-list-container,#signUp-form{
            display: none;
        }
        #dropdown-list-container:target{
            display: block;
            width: 100%;
        }
        #dropdown-menu{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center
        }
        .dropdown-item{
            width: 100%;
            padding-block: 20px;
        }
        .dropdown-item:nth-child(2) input{
            width: 80%;
            padding: 12px;
            padding-left: 50px;
            }
            
        .dropdown-item:nth-child(2) i{
            position: absolute;
            left: 110px;
        }
        #close-dropdown{
            display: block;
            position: absolute;
            top:30px; 
            right: 10px;
    
            /* close button i put above of hamburg so on , hamburg behave toggle on/off */
            opacity: 0;
        }
            
        
        /********************* hamburg ****************************************/
            #hamburg{
                display: block;
                font-size: 3rem;
                position: absolute;
                top:30px;
                right: 10px;
            }
            #hamburg a{
                color: white;
            }
    }
    
   


/* some common style and classes */
.like{
    color: rgb(242, 1, 1);
    text-shadow: 0 0 2px white;
    
}

.unlike{
    color: rgb(139, 4, 4);
    text-shadow: 0 0 2px rgb(15, 13, 13);
}

a{
cursor: pointer;
}